<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Editar perfil</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="d-flex flex-column min-vh-100">

<!--LOCATION OF THE HEADER OF THE WEB-->

{{>components/header}}

<!-- CONTENIDO -->
<main class="flex-fill">
  <div class="container my-5" style="max-width:600px">
    <h2 class="mb-4">Editar perfil</h2>
    <form>
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" value="Nombre">
      </div>
      <div class="mb-3">
        <label class="form-label">Apellidos</label>
        <input type="text" class="form-control" value="Apellidos">
      </div>
      <div class="mb-3">
        <label class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" value="Nombre Usuario">
      </div>
      <div class="mb-3">
        <label class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" value="usuario@email.com">
      </div>
      <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text" class="form-control" value="Teléfono">
      </div>
      <div class="mb-3">
        <label class="form-label">Edad</label>
        <input type="text" class="form-control" value="Edad">
      </div>
      <div class="mb-3">
        <label class="form-label">Foto de perfil</label>
        <input type="file" class="form-control">
      </div>
      <div class="mb-3" style="text-align: right">
        <a href="change_password" class="btn btn-outline-primary">Cambiar contraseña</a>
      </div>
      <div class="d-flex gap-2">
        <a href="profile" class="btn btn-primary equal-btn">Guardar</a>
        <a href="profile" class="btn btn-primary equal-btn">Cancelar</a>
      </div>

    </form>
  </div>
</main>

<!--LOCATION OF THE FOOTER OF THE WEB-->

{{>/components/footer}}

</body>
</html>





