{{#purchases}}
<tr class="table-success">
    <td>{{session.event.name}}</td>
    <td>{{session.date}}</td>
    <td>Comprado</td>
    <td>
        <button class="btn btn-sm btn-outline-primary"
                onclick="toggleTickets('{{purchaseID}}', this)"> <!--Verify that I did not broke nothing-->
            Ver detalles
        </button>
        <a href="/purchases/download/{{purchaseID}}" class="btn btn-outline-primary">Descargar</a>
    </td>
</tr>
{{/purchases}}

<input type="hidden" class="has-next-indicator" value="{{hasNext}}">