<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mis Entradas</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">
</head>

<body class="d-flex flex-column min-vh-100">

<!--LOCATION OF THE HEADER OF THE WEB-->

{{>components/header}}

<main class="flex-fill">
    <div class="container my-5">
        <h2 class="mb-4">Mis Entradas</h2>
        <table class="table">
            <thead><tr><th>Evento</th><th>Fecha</th><th>Estado</th><th></th></tr></thead>
            <tbody>
                {{#tickets}}
                    <tr class="table-success"><td>{{#events}}{{event}}</td><td>{{sessionDate}}</td>{{/events}}<td>{{isActive}}</td><td><button class="btn btn-sm btn-primary">Descargar</button></td></tr>
                {{/tickets}}
            </tbody>
        </table>

        <div style="text-align: end">
            <a href="profile" class="btn btn-outline-primary">Regresar al perfil</a>
        </div>
    </div>
</main>

<!--LOCATION OF THE FOOTER OF THE WEB-->

{{>/components/footer}}

</body>
</html>
