<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="admin.html">TicketHub Admin</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="admin.html">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="events/manage_events.html">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="artists/manage_artists.html">Artistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="statistics.html">Estadísticas</a>
        </li>
      </ul>

      <div class="d-flex gap-2">
        <a href="../public/index.html" class="btn btn-outline-primary btn-sm">
          Ver sitio
        </a>
        <!-- when JS is active, we will use onclick="logout()" for the admin to log out-->
        <button class="btn btn-outline-secondary btn-sm">
            Cerrar sesión
        </button>

      </div>
    </div>
  </div>
</nav>
